GridBackground{
	--grid-background-color: #282828;
	--line-color: rgba(193, 196, 192, 0.1);
	--thick-line-color: rgba(193, 196, 192, 0.1);
	--spacing: 50;
}

ListView
{
	width: 100%;
	height: 250px;
	-unity-text-align: middle-center;
}

SettingView
{
	height: 100px;
}

SettingView.PopupField
{
	margin-top: 10px;
}

#inspector-container {
	height: 50%;
}

#filter-container {
	flex-direction: row;
	background-color: rgb(32, 32, 32);
}

